# dependencies
/node_modules

# next
/.next/
/out/

# production
/build

# test output
/coverage/
/playwright-report/
/test-results/

# local env
.env
.env.local
.env.*.local
!.env.example

# misc
.DS_Store
*.pem
*.log

# typescript
*.tsbuildinfo
